	
	    body{
		    padding-top:50px;
        background-image: url('../img/header3.jpg');
        position: relative;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-image: url('../img/header3.jpg');
        text-align: centre;
        vertical-align: text-bottom;
        color: white;
}

	   .navbar-brand{
		    background-image: url('../img/logo.png');
		    background-position: left;
		    width: 240px;
		    height: 45px;
		    background-repeat: no-repeat;
}

      section .header-content{
        position: relative;
        text-align: center;
        padding: 150px 15px 100px;
        width: 100%;
}

      section .header-content .header-content-inner h1{
        font-weight: 700;
        font-family: 'Open Sans', 'Inknut Antiqua', Arial, sans-serif;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0px;
        font-size: 80px;
}

      section .header-content .header-content-inner p{
        font-weight: 300;
        color: rgba(255, 255, 255, 0.7);
        font-size: 40px;
        margin-bottom: 20px;
}

      .btn-primary{
  	    color: white;
  	    background-color: #4430ff;
 	      border-color: #4430ff;
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 40px;
}

      .accountTitle{
        margin-left: 12%;
        margin-top: 40px;
        color: white;
        font-family: 'Open Sans', 'Inknut Antiqua', Arial, sans-serif;
        font-style: bold;
        font-size: 75px;
}

      #homeHeading{
        color: white;
}
      /* About page */

      #aboutTitle{
        color: white;
        font-family: 'Open Sans', 'Inknut Antiqua', Arial, sans-serif;
        font-style: bold;
        font-size: 75px;
}

      #aboutBanner{
        width: 500px;
        margin-top: 10px;
        margin-bottom: 10px;
}

      #aboutSection{
        text-align: center;
        display: inline;
}

      #aboutBio{
        font-size: 16px;
        font-family: 'Open Sans', 'Inknut Antiqua', Arial, sans-serif;
}

      #submitButton{
        color: white;
        background-color: #4430ff;
        border-color: #4430ff;
        padding: 8px 26px;
        font-size: 100%;
        border-radius: 40px;
}

      /* Review page */

      #reviewTitle{
        color: white;
        margin-top: 35px;
        margin-bottom: 30px;
        margin-left: 20px;
        font-family: 'Open Sans', 'Inknut Antiqua', Arial, sans-serif;
        font-style: bold;
        font-size: 80px;
}

      #reviewIcon{
        text-align: center;
        margin-bottom: 20px;
        display: inline;
}

      #reviewText{
        color: white;
}

      #reviewButton{ 
        color: white;
        background-color: #4430ff;
        border-color: #4430ff;
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 40px;
}

      #readmoreButton{
        color: white;
        background-color: #4430ff;
        border-color: #4430ff;
        font-size: 80%;
        border-radius: 40px;
}

      #brandLogo{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100px;
        align-items: center;
}

      .checked {
        color: orange;
}

      /* Registration */

      #pleaseRegisterHeading{
        color: white;
}

      #registerButton{
        color: white;
        background-color: #4430ff;
        border-color: #4430ff;
        padding: 8px 26px;
        font-size: 100%;
        border-radius: 40px;
}

      #regClick{
        color: red;
        font-weight: bold;
}

      #regClick:hover {
        color: white;
}

      /* Login */

      #loginButton{
        color: white;
        background-color: #4430ff;
        border-color: #4430ff;
        padding: 8px 26px;
        font-size: 100%;
        border-radius: 40px;
}

      #logClick{
        color: red;
        font-weight: bold;
}

      #logClick:hover {
        color: white;
}

      /* Forms */

      .formTitle{
        color: white;
        font-family: 'Open Sans', 'Inknut Antiqua', Arial, sans-serif;
        font-style: bold;
        font-size: 75px;
}

      form{
        margin-top: 20px;
        margin-left: 60px;
        margin-right: 60px;
}

      #labelTitle{
        color: white;
        font-size: 20px;
}

      #labelFooter{
        color: white;
        font-style: italic;
        font-size: 12px;
}

      .form-control{
        opacity: 0.7;
}














