<!DOCTYPE html>
<html>

<head>

    <title>Review</title>
    
</head>
    
<body>
    

    <h1 id="reviewTitle">Reviews</h1>
        <div id="reviewIcon" class="col-lg-3 col-sm-6">
            <div class="row">
                <div class="col-xs-9">
                    <img id="brandLogo" src="../img/billabong3.png">
               
            <p id="reviewText"><span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span></p>
                <button id="readmoreButton" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                Read More
                </button>
        
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Billabong</h4>
                            </div>
                        <div class="modal-body">
                            Billabong, is a comfortable beach wear clothing brand, and they usually have very cute items for about the same prices you would expect to pay at the mall. Every once in a while you can find some steals and some very cute beach dresses or swimsuits that are to die for, that you really cannot get anywhere else. If you are looking for comfy beach like clothing. Billabong is the place to look.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

            <div id="reviewIcon" class="col-lg-3 col-sm-6">
            <div class="row">
                <div class="col-xs-9">
                    <img id="brandLogo" src="../img/quicksilver3.png">
            <p id="reviewText"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span></p>
            
            <button id="readmoreButton" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal2">
                Read More
                </button>

                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Quicksilver</h4>
                            </div>
                        <div class="modal-body">
                            Quicksilvers service has captured me, I have been a loyal customer of one of your main competitors for my entire life. However, I recently walked into you Noosa shop and was served by [name removed] who gave me faultless service and explained the advantages of your double doby board shorts after I explained my disappointment with my existing stretch boardies from your competitor. Since purchasing and loving them I have been back and bought a second pair. I also mentioned to [name removed] about the sex wax dream cream and how good it was. He took my number and called me one week l after to tell me he had requested to get some in store and has put some away for me. This service and quality product is the difference between you and your competitors and has won me over. Consider me a quiksilver loyal customer from now on.Thank you.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

            <div class="clearfix visible-sm-block visible-md-block"></div>
            <div id="reviewIcon" class="col-lg-3 col-sm-6">
            <div class="row">
                <div class="col-xs-9">
                    <img id="brandLogo" src="../img/dcshoes.png">
            <p id="reviewText"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span></p>

                <button id="readmoreButton" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal3">
                Read More
                </button>

                <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Dcshoes</h4>
                            </div>
                        <div class="modal-body">
                            No fuss purchase and return. I ordered a snowboarding jacket from this company which arrived in good time and was as described. I don't understand why DC shoes gets so many bad reviews.The jacket was beautiful and as described on their website.Unfortunately it didn't fit me well enough so I returned it. Yes, the postage to Belgium cost money but I don't have a big problem with this. At least their clothing is available for us to buy in the UK.You get to buy and try an item in the comfort of your own home all for £7-8. Frankly it is so cold right now, I prefer this to trekking out to a retail store in town. Also they processed the return within a few days no fuss and money was back in my account.I would buy again.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            </div>   
        </div>

         <div id="reviewIcon" class="col-lg-3 col-sm-6">
            <div class="row">
                <div class="col-xs-9">
                    <img id="brandLogo" src="../img/supreme2.png">
            <p id="reviewText"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span></p>

                <button id="readmoreButton" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal4">
                Read More
                </button>

                <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Supreme</h4>
                            </div>
                        <div class="modal-body">
                            No fuss purchase and return. I ordered a snowboarding jacket from this company which arrived in good time and was as described. I don't understand why DC shoes gets so many bad reviews.The jacket was beautiful and as described on their website.Unfortunately it didn't fit me well enough so I returned it. Yes, the postage to Belgium cost money but I don't have a big problem with this. At least their clothing is available for us to buy in the UK.You get to buy and try an item in the comfort of your own home all for £7-8. Frankly it is so cold right now, I prefer this to trekking out to a retail store in town. Also they processed the return within a few days no fuss and money was back in my account.I would buy again.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            </div>   
        </div>
        
        <div class="clearfix visible-sm-block visible-md-block"></div>
         <div id="reviewIcon" class="col-lg-3 col-sm-6">
            <div class="row">
                <div class="col-xs-9">
                    <img id="brandLogo" src="../img/addidas2.png">
            <p id="reviewText"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span></p>

                <button id="readmoreButton" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal5">
                Read More
                </button>

                <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Adiddas</h4>
                            </div>
                        <div class="modal-body">
                            No fuss purchase and return. I ordered a snowboarding jacket from this company which arrived in good time and was as described. I don't understand why DC shoes gets so many bad reviews.The jacket was beautiful and as described on their website.Unfortunately it didn't fit me well enough so I returned it. Yes, the postage to Belgium cost money but I don't have a big problem with this. At least their clothing is available for us to buy in the UK.You get to buy and try an item in the comfort of your own home all for £7-8. Frankly it is so cold right now, I prefer this to trekking out to a retail store in town. Also they processed the return within a few days no fuss and money was back in my account.I would buy again.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            </div>   
        </div>

         <div id="reviewIcon" class="col-lg-3 col-sm-6">
            <div class="row">
                <div class="col-xs-9">
                    <img id="brandLogo" src="../img/nike2.png">
            <p id="reviewText"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span></p>

                <button id="readmoreButton" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal6">
                Read More
                </button>

                <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Nike</h4>
                            </div>
                        <div class="modal-body">
                            No fuss purchase and return. I ordered a snowboarding jacket from this company which arrived in good time and was as described. I don't understand why DC shoes gets so many bad reviews.The jacket was beautiful and as described on their website.Unfortunately it didn't fit me well enough so I returned it. Yes, the postage to Belgium cost money but I don't have a big problem with this. At least their clothing is available for us to buy in the UK.You get to buy and try an item in the comfort of your own home all for £7-8. Frankly it is so cold right now, I prefer this to trekking out to a retail store in town. Also they processed the return within a few days no fuss and money was back in my account.I would buy again.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            </div>   
        </div>
        
        <div class="clearfix visible-sm-block visible-md-block"></div>
         <div id="reviewIcon" class="col-lg-3 col-sm-6">
            <div class="row">
                <div class="col-xs-9">
                    <img id="brandLogo" src="../img/vans3.png">
            <p id="reviewText"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span></p>

                <button id="readmoreButton" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal7">
                Read More
                </button>

                <div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Vans</h4>
                            </div>
                        <div class="modal-body">
                            No fuss purchase and return. I ordered a snowboarding jacket from this company which arrived in good time and was as described. I don't understand why DC shoes gets so many bad reviews.The jacket was beautiful and as described on their website.Unfortunately it didn't fit me well enough so I returned it. Yes, the postage to Belgium cost money but I don't have a big problem with this. At least their clothing is available for us to buy in the UK.You get to buy and try an item in the comfort of your own home all for £7-8. Frankly it is so cold right now, I prefer this to trekking out to a retail store in town. Also they processed the return within a few days no fuss and money was back in my account.I would buy again.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            </div>   
        </div>

         <div id="reviewIcon" class="col-lg-3 col-sm-6">
            <div class="row">
                <div class="col-xs-9">
                    <img id="brandLogo" src="../img/puma2.png">
            <p id="reviewText"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span></p>

                <button id="readmoreButton" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal8">
                Read More
                </button>

                <div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Puma</h4>
                            </div>
                        <div class="modal-body">
                            No fuss purchase and return. I ordered a snowboarding jacket from this company which arrived in good time and was as described. I don't understand why DC shoes gets so many bad reviews.The jacket was beautiful and as described on their website.Unfortunately it didn't fit me well enough so I returned it. Yes, the postage to Belgium cost money but I don't have a big problem with this. At least their clothing is available for us to buy in the UK.You get to buy and try an item in the comfort of your own home all for £7-8. Frankly it is so cold right now, I prefer this to trekking out to a retail store in town. Also they processed the return within a few days no fuss and money was back in my account.I would buy again.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            </div>   
        </div>

</body>
</html>


